$color_1: white;
$color_2: #fff;
$color_3: #ffffff;
$color_4: rgba(255, 0, 0, 0.836);
$color_5: black;
$color_6: rgb(0, 0, 0);
$color_7: #f8f8f8;
$color_8: #000000;
$font-family_1: 'Krona One', sans-serif;
$font-family_2: 'Jost';
$font-family_3: 'Ubuntu';
$background-color_1: transparent;
$background-color_2: #000000;
$background-color_3: #660202;
$background-color_4: #f0f0f0;
$background-color_5: #ccc;
$background-color_6: #f2f2f2;
$background-color_7: black;
$background-color_8: #666;
$background-color_9: #8b003a;
$background-color_10: #747474;
